<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">
  
      <h1 class="logo me-auto me-lg-0"><a href="index.html">Investify<span>.</span></a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <!-- <ul>
          
          <li><a class="nav-link scrollto " href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto " href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto " href="#team">Features</a></li>
          <li><a class="nav-link scrollto " href="#part10">FAQS</a></li>
          <li><a class="nav-link scrollto " href="#contact">Contact</a></li>
          
        </ul> -->
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <a routerLink="/portfolios" class="get-started-btn scrollto">Your Portfolios</a>
  
    </div>
  
  </header>

  <section>
    <h2>Sector-Wise Market Performance</h2>
    <div class="index" *ngFor="let index of indices">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{index.sector}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <br>
              <p  [style.color]="'green'">% Change:-  {{index.changesPercentage}}</p>
            </mat-card-content>

          </mat-card>
      </div>
      <br><br><br><br>


      <div class="movers">
          <div>
            <h2>Top Gainers</h2>
          <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">% Change</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of gainers">
            <td>{{stock.name}}</td>
            <td>{{stock.price}}</td>
            <td>{{stock.changesPercentage}}</td>
          </tr>
          
        </tbody>
      </table>
          </div>
      
      
      <div>
        <h2>Top Losers</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">% Change</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stock of losers">
              <td>{{stock.name}}</td>
              <td>{{stock.price}}</td>
              <td>{{stock.changesPercentage}}</td>
            </tr>
            
          </tbody>
        </table></div>
      </div>








      

  </section>
  <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"  > -->

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Name Column -->
    <!-- <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container> -->
  
    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container> -->
  
    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="changesPercentage">
      <th mat-header-cell *matHeaderCellDef> % Change </th>
      <td mat-cell *matCellDef="let element"> {{element.changesPercentage}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
   -->

   